if SHIELD_DACTYL_MINI_LEFT

config ZMK_KEYBOARD_NAME
    default "Dactyl Mini"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_DACTYL_MINI_LEFT || SHIELD_DACTYL_MINI_RIGHT

config ZMK_SPLIT
    default y

endif
